<footer class="bg-dark text-white p-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>ProductApp</h5>
        <p>Your one-stop shop for amazing products.</p>
      </div>
      <div class="col-md-3">
        <h6>Quick Links</h6>
        <ul class="list-unstyled">
          <li><a class="text-white" href="#">Home</a></li>
          <li><a class="text-white" href="#">Products</a></li>
          <li><a class="text-white" href="#">About Us</a></li>
          <li><a class="text-white" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Follow Us</h6>
        <p>Social links go here</p>
      </div>
    </div>
  </div>
</footer>
